:root {
    --font: Montserrat, Arial, Helvetica, sans-serif;
    --blue-gradient: linear-gradient(180deg, rgba(104,39,249,1) 0%, rgba(17,141,240,1) 100%);
    --blue-color: #3F57F5;
    --lightgray-color: #A9A9B0;
    --darkgray-color: #3B3B3B;
    --spacing: 1.67rem;
    --size-headings: 1.34rem; /* 16pt */
    --size-p: 1.17rem; /* 14pt */
    --size-a: 1rem; /* 12pt */
    --size-labels: 0.84rem; /* 10pt */
    --weight-semibold: 600;
    --weight-medium: 500;
    --rounded: 8px;
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 1rem;
    line-height: 1.4;
    color: var(--darkgray-color);
}

body {
    padding: var(--spacing);
    display: flex;
    flex-direction: column;
    height: calc(100% + 6.25rem);
    justify-content: space-around;
}

footer {
    justify-self: flex-end;
}

h2 {
    font-size: var(--size-headings);
    font-weight: var(--weight-semibold);
}

a {
    text-decoration: none;
    font-size: var(--size-a);
    color: var(--darkgray-color);
}

a:hover {
    color: var(--blue-color);
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

img, 
object {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.login main {
    display: flex;
    flex-direction: column;
}

.login main a {
    align-self: center;
    margin-top: var(--spacing);
}


.login footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-end;
}

.login footer a {
    font-weight: var(--weight-semibold);
}

.login-form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.login-form .icon {
    position: absolute;
    bottom: 4rem;
    right: .3rem;
    cursor: pointer;
}

label {
    font-size: var(--size-labels);
    padding-bottom: 1rem;
}

input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid var(--lightgray-color);
    margin-bottom: 1rem;
}

input::placeholder {
    font-size: var(--size-p);
    font-family: var(--font);
    padding-bottom: 0.5rem;
}

input[type="submit"] {
    background: var(--blue-gradient);
    border: none;
    border-radius: var(--rounded);
    flex-basis: 2.75rem;
    color: white;
    font-family: var(--font);
    font-size: var(--size-p);
    margin-top: 2rem;
}


/* ---------- Bottom Nav Styles ---------- */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.bottom-nav nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    padding: 1rem;
    margin: 0;
    background: white;
    border-top: 1px solid var(--lightgray-color);
    border-bottom: 2px solid white;
}

.bottom-nav nav ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: var(--weight-medium);
    color: var(--lightgray-color);
}

.bottom-nav nav ul li a i {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.bottom-nav nav ul li a.active {
    color: var(--darkgray-color);
}

/* ---------- Home Feed Styles ---------- */

.home {
    justify-content: space-between;
}

.story-bubbles {
    display: flex;
    /* overflow: hidden; */
}

.story-bubble, .new-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 1.5rem;
}

.story-bubble img, .new-story div {
    border-radius: 50%;
    width: 5rem;
    outline: 2px solid var(--blue-color);
    border: 2px solid white;  
    flex-grow: 0;
    flex-shrink: 0;
    max-width: none;
}

.story-bubble figcaption {
    font-size: var(--size-labels);
    padding-top: 1rem;
    font-weight: 400;
}


.new-story div {
    height: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    background: var(--blue-color);
    background: var(--blue-gradient);
}

.new-story div p {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    font-size: 3rem;
    color: white;
}
.feed-card {
    margin-bottom: 3rem;
}
.feed-card .by-line {
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-template-areas: 
        "img name"
        "img time";
}

.feed-card>img {
    border-radius: var(--rounded);
}
.avatar {
    width: 3rem;
    border-radius: 50%;
    grid-area: img;
    align-self: center;
}

.feed-card .by-line .name, 
.feed-card .by-line .time {
    padding: 0;
    margin: 0;
}

.feed-card .by-line .name {
    grid-area: name;
    font-weight: var(--weight-medium);
    font-size: var(--size-a);
}
.feed-card .by-line .time {
    grid-area: time;
    font-size: var(--size-labels);
    color: var(--lightgray-color);
}

.feed-card .img-details {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.feed-card .img-details .buttons i {
    padding: 1rem;
    border-radius: var(--rounded);
    box-shadow: 0 -10px 10px 0px rgba(0,0,0,0.1);
    margin-left: 0.5rem;
}

.featured-stories figure {
    position: relative;
}

.featured-stories h2 {
    text-transform: uppercase;
}

.featured-stories .avatar {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.featured-stories .time {
    position: absolute;
    top: 1rem;
    left: 2rem;
    color: white;
}

.featured-stories figcaption {
    color: white;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.featured-stories h3 {
    margin-bottom: .25rem;
}
.featured-stories figcaption p {
    margin-top: 0;
    padding-top: 0;
}

.featured-stories .slider figure>img {
    border-radius: var(--rounded);
    height: 27rem;
}

.featured-stories .slider {
    /* display: flex; */
    position: relative;
}

.featured-stories .slider figure:first-of-type {
    position: absolute;
    top: 0; 
    left: 0;
    transform: scale(0.9) translate(-24rem, -1rem);
}

.featured-stories .slider figure:last-of-type {
    position: absolute;
    top: 0; 
    right: 0;
    transform: scale(0.9) translate(24rem, -1rem);
}

.editors-pick img {
    width: calc(100% + 4.85rem);
    max-width: calc(100% + 4.85rem);
    margin-left: -2.67rem;
}
